.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

:root{
    --Red: hsl(0, 78%, 62%);
    --Cyan: hsl(180, 62%, 55%);
    --Orange: hsl(34, 97%, 64%);
    --Blue: hsl(212, 86%, 64%);
    --Very-Dark-Blue: hsl(234, 12%, 34%);
    --Grayish-Blue: hsl(229, 6%, 66%);
    --Very-Light-Gray: hsl(0, 0%, 98%);
    --Weight-200: 200;
    --Weight-400: 400;
    --Weight-600: 600;
}

html,body{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    background-color: var(--Very-Light-Gray);
}
h1, h2{
    line-height: 0.1;
    font-size: 2rem;
    color: var(--Very-Dark-Blue);
}
h3, h4, h5, h6{
    line-height: 0.1;
    font-size: 1rem;
    color: var(--Very-Dark-Blue);
    margin: 1.5rem 0;
}
h1{
    font-weight: var(--Weight-200);
}
h2{
    font-weight: var(--Weight-600);
}
.text-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.text-container p{
    width: 60%;
    text-align: center;
    color: var(--Grayish-Blue);
}
.cards-container{
    display: grid;
    grid-template-columns: 0.6fr 0.7fr 0.6fr;
}
.side-subcontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.middle-subcontainer{
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    margin: 0 2rem;
    row-gap: 1em;
}

.card{
    box-shadow: 2px 2px 20px 0 var(--Grayish-Blue);
    padding: 1rem 2rem;
    border-top: 0.4em solid;
}


.icon{
    display: flex;
    justify-content: end;
}

.supervisor{
    border-top-color: var(--Cyan);
}

.team-builder{
    border-top-color: var(--Red);
}

.karma{
    border-top-color: var(--Orange);
}

.calculator{
    border-top-color: var(--Blue);
}

@media (max-width: 430px) {
    .cards-container{
        display: grid;
        grid-template-columns: 1fr;
    }
}